.my-aside {
    padding-top: 100px;
    text-align: center;

    // position: absolute;
    // right: 0; 
    // .to-center {
    //     position: relative;
    //     right: 50%;
    // }

    header {
        text-align: left;
        font-size: 20px;
    }
    img {
        margin-top: 10px;   
        margin-bottom: 10px;     
        max-width: 180px;
        border-radius: 50%;
    }
    .what {
        color: #000;
        opacity: 0.5;
        // margin-top: 20px;?why not
        font-size: 12px;
        max-width: 180px;
        margin: 0 auto;
    }
}